In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
import requests
import data_gather

save_new_csvs = False
scrape_or_file = 'file'

## Races

In [2]:
races = data_gather.get_race_data(scrape_or_file, 1950, 2022)

In [3]:
races.head()

,season,round,circuit_id,lat,long,country,date,url
0,1950,1,silverstone,52.0786,-1.01694,UK,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,2,monaco,43.7347,7.42056,Monaco,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,1950,3,indianapolis,39.7950,-86.23470,USA,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,1950,4,bremgarten,46.9589,7.40194,Switzerland,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,1950,5,spa,50.4372,5.97139,Belgium,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [4]:
races.tail()

,season,round,circuit_id,lat,long,country,date,url
1074,2022,18,suzuka,34.8431,136.5410,Japan,2022-10-09,http://en.wikipedia.org/wiki/2022_Japanese_Gra...
1075,2022,19,americas,30.1328,-97.6411,USA,2022-10-23,http://en.wikipedia.org/wiki/2022_United_State...
1076,2022,20,rodriguez,19.4042,-99.0907,Mexico,2022-10-30,http://en.wikipedia.org/wiki/2022_Mexican_Gran...
1077,2022,21,interlagos,-23.7036,-46.6997,Brazil,2022-11-13,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...
1078,2022,22,yas_marina,24.4672,54.6031,UAE,2022-11-20,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

In [5]:
if save_new_csvs:
    races.to_csv('races.csv', index = False)

## Rounds

## Results

In [6]:
results = data_gather.get_race_results(scrape_or_file, races)

In [7]:
results.head()

,season,round,circuit_id,driver,date_of_birth,nationality,constructor,grid,time,status,points,podium,url
0,1950,1,silverstone,farina,1906-10-30,Italian,alfa,1,8003600.0,Finished,9.0,1,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,1,silverstone,fagioli,1898-06-09,Italian,alfa,2,8006200.0,Finished,6.0,2,http://en.wikipedia.org/wiki/1950_British_Gran...
2,1950,1,silverstone,reg_parnell,1911-07-02,British,alfa,4,8055600.0,Finished,4.0,3,http://en.wikipedia.org/wiki/1950_British_Gran...
3,1950,1,silverstone,cabantous,1904-10-08,French,lago,6,NaN,+2 Laps,3.0,4,http://en.wikipedia.org/wiki/1950_British_Gran...
4,1950,1,silverstone,rosier,1905-11-05,French,lago,9,NaN,+2 Laps,2.0,5,http://en.wikipedia.org/wiki/1950_British_Gran...

In [8]:
results.tail()

,season,round,circuit_id,driver,date_of_birth,nationality,constructor,grid,time,status,points,podium,url
25382,2022,22,yas_marina,mick_schumacher,1999-03-22,German,haas,12,NaN,+1 Lap,0.0,16,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...
25383,2022,22,yas_marina,kevin_magnussen,1992-10-05,Danish,haas,16,NaN,+1 Lap,0.0,17,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...
25384,2022,22,yas_marina,hamilton,1985-01-07,British,mercedes,5,NaN,Hydraulics,0.0,18,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...
25385,2022,22,yas_marina,latifi,1995-06-29,Canadian,williams,20,NaN,Collision damage,0.0,19,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...
25386,2022,22,yas_marina,alonso,1981-07-29,Spanish,alpine,10,NaN,Water leak,0.0,20,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

In [9]:
if save_new_csvs:
    results.to_csv('results.csv', index = False)

## Driver Standings

In [10]:
driver_standings = data_gather.get_driver_standings(scrape_or_file, races)

In [11]:
driver_standings = data_gather.lookup(driver_standings, 'driver', 'driver_points')

/Users/jakesansom/Desktop/Monaco/Project-Monaco/race_data/data_gather.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[points].fillna(0, inplace = True)

In [12]:
driver_standings = data_gather.lookup(driver_standings, 'driver', 'driver_wins')

/Users/jakesansom/Desktop/Monaco/Project-Monaco/race_data/data_gather.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[points].fillna(0, inplace = True)

In [13]:
driver_standings = data_gather.lookup(driver_standings, 'driver', 'driver_standings_pos')

/Users/jakesansom/Desktop/Monaco/Project-Monaco/race_data/data_gather.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[points].fillna(0, inplace = True)

In [14]:
driver_standings.head()

,season,round,driver,driver_points_after_race,driver_wins_after_race,driver_standings_pos_after_race,driver_points_after_race.1,driver_wins_after_race.1,driver_standings_pos_after_race.1,driver_points_after_race,driver_wins_after_race,driver_standings_pos_after_race,driver_points,driver_wins,driver_standings_pos
0,1950,1,farina,9.0,1,1,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1950,1,fagioli,6.0,0,2,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1950,1,reg_parnell,4.0,0,3,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1950,1,cabantous,3.0,0,4,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1950,1,rosier,2.0,0,5,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
driver_standings.tail()

,season,round,driver,driver_points_after_race,driver_wins_after_race,driver_standings_pos_after_race,driver_points_after_race.1,driver_wins_after_race.1,driver_standings_pos_after_race.1,driver_points_after_race,driver_wins_after_race,driver_standings_pos_after_race,driver_points,driver_wins,driver_standings_pos
27575,2022,22,zhou,6.0,0,18,6.0,0.0,18.0,6.0,0.0,18.0,6.0,0.0,18.0
27576,2022,22,albon,4.0,0,19,4.0,0.0,19.0,4.0,0.0,19.0,4.0,0.0,19.0
27577,2022,22,latifi,2.0,0,20,2.0,0.0,20.0,2.0,0.0,20.0,2.0,0.0,20.0
27578,2022,22,de_vries,2.0,0,21,2.0,0.0,21.0,2.0,0.0,21.0,2.0,0.0,21.0
27579,2022,22,hulkenberg,0.0,0,22,0.0,0.0,22.0,0.0,0.0,22.0,0.0,0.0,22.0

In [16]:
if save_new_csvs:
    driver_standings.to_csv('driver_standings.csv', index = False)

## Constructor Standings

In [17]:
constructor_standings = data_gather.get_constructor_standings(scrape_or_file, races)

In [18]:
constructor_standings = data_gather.lookup(constructor_standings, 'constructor', 'constructor_points')

/Users/jakesansom/Desktop/Monaco/Project-Monaco/race_data/data_gather.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[points].fillna(0, inplace = True)

In [19]:
constructor_standings = data_gather.lookup(constructor_standings, 'constructor', 'constructor_wins')

/Users/jakesansom/Desktop/Monaco/Project-Monaco/race_data/data_gather.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[points].fillna(0, inplace = True)

In [20]:
constructor_standings = data_gather.lookup(constructor_standings, 'constructor', 'constructor_standings_pos')

/Users/jakesansom/Desktop/Monaco/Project-Monaco/race_data/data_gather.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[points].fillna(0, inplace = True)

In [21]:
constructor_standings.head()

,season,round,constructor,constructor_points_after_race,constructor_wins_after_race,constructor_standings_pos_after_race,constructor_points_after_race,constructor_wins_after_race,constructor_standings_pos_after_race,constructor_points,constructor_wins,constructor_standings_pos
0,1958,1,cooper,8.0,1,1,0.0,0.0,0.0,NaN,NaN,NaN
1,1958,1,ferrari,6.0,0,2,0.0,0.0,0.0,NaN,NaN,NaN
2,1958,1,maserati,3.0,0,3,0.0,0.0,0.0,NaN,NaN,NaN
3,1958,2,cooper,16.0,2,1,8.0,1.0,1.0,0.0,0.0,0.0
4,1958,2,ferrari,12.0,0,2,6.0,0.0,2.0,0.0,0.0,0.0

In [22]:
constructor_standings.tail()

,season,round,constructor,constructor_points_after_race,constructor_wins_after_race,constructor_standings_pos_after_race,constructor_points_after_race,constructor_wins_after_race,constructor_standings_pos_after_race,constructor_points,constructor_wins,constructor_standings_pos
12926,2022,22,alfa,55.0,0,6,55.0,0.0,6.0,53.0,0.0,6.0
12927,2022,22,aston_martin,55.0,0,7,50.0,0.0,7.0,49.0,0.0,7.0
12928,2022,22,haas,37.0,0,8,37.0,0.0,8.0,36.0,0.0,8.0
12929,2022,22,alphatauri,35.0,0,9,35.0,0.0,9.0,35.0,0.0,9.0
12930,2022,22,williams,8.0,0,10,8.0,0.0,10.0,8.0,0.0,10.0

In [23]:
if save_new_csvs:
    constructor_standings.to_csv('constructor_standings.csv', index = False)

# Qualifying Results

In [24]:
qualifying_results = data_gather.get_qualifying_results(scrape_or_file, races)

In [25]:
qualifying_results.head()

,grid_position,driver_name,car,qualifying_time,season,round
0,1,Keke Rosberg ROS,Williams Honda,1:34.526,1983,1
1,2,Alain Prost PRO,Renault,1:34.672,1983,1
2,3,Patrick Tambay TAM,Ferrari,1:34.758,1983,1
3,4,Nelson Piquet PIQ,Brabham BMW,1:35.114,1983,1
4,5,Derek Warwick WAR,Toleman Hart,1:35.206,1983,1

In [26]:
qualifying_results.tail()

,grid_position,driver_name,car,qualifying_time,season,round
15744,16,Kevin Magnussen MAG,Haas Ferrari,1:25.834,2022,22
15745,17,Pierre Gasly GAS,AlphaTauri RBPT,1:25.859,2022,22
15746,18,Valtteri Bottas BOT,Alfa Romeo Ferrari,1:25.892,2022,22
15747,19,Alexander Albon ALB,Williams Mercedes,1:26.028,2022,22
15748,20,Nicholas Latifi LAT,Williams Mercedes,1:26.054,2022,22

In [27]:
if save_new_csvs:
    qualifying_results.to_csv('qualifying_results.csv', index = False)

# Weather

In [28]:
weather = data_gather.get_weather(scrape_or_file, races)

In [29]:
weather.head()

,season,round,circuit_id,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,1950,1,silverstone,"Sunny, mild, dry.",0,0,0,0,0
1,1950,2,monaco,not found,0,0,0,0,0
2,1950,3,indianapolis,Rainy,0,0,0,1,0
3,1950,4,bremgarten,"Warm, dry and sunny",1,0,1,0,0
4,1950,5,spa,"Warm, dry and sunny",1,0,1,0,0

In [30]:
weather.tail()

,season,round,circuit_id,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
1074,2022,18,suzuka,Rain,0,0,0,1,0
1075,2022,19,americas,Partly cloudy,0,0,0,0,1
1076,2022,20,rodriguez,Partly cloudy,0,0,0,0,1
1077,2022,21,interlagos,Cloudy,0,0,0,0,1
1078,2022,22,yas_marina,Clear,1,0,0,0,0

In [31]:
if save_new_csvs:
    weather.to_csv('weather.csv', index = False)

# Merging

In [32]:
final_df = data_gather.get_merged_data('scrape', races, results, qualifying_results, driver_standings, constructor_standings, weather)

In [33]:
final_df.head()

,season,round,circuit_id,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,nationality,...,driver_wins_after_race.1,driver_standings_pos_after_race.1,driver_points,driver_wins,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos,qualifying_time,driver_age
5,1983,1,jacarepagua,False,False,True,False,False,prost,French,...,0.0,0.0,0,0,0,0,0,0,0.000,28
3,1983,1,jacarepagua,False,False,True,False,False,tambay,French,...,0.0,0.0,0,0,0,0,0,0,0.086,33
0,1983,1,jacarepagua,False,False,True,False,False,piquet,Brazilian,...,0.0,0.0,0,0,0,0,0,0,0.442,30
6,1983,1,jacarepagua,False,False,True,False,False,warwick,British,...,0.0,0.0,0,0,0,0,0,0,0.534,28
8,1983,1,jacarepagua,False,False,True,False,False,arnoux,French,...,0.0,0.0,0,0,0,0,0,0,0.875,34

In [34]:
final_df.tail()

,season,round,circuit_id,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,driver,nationality,...,driver_wins_after_race.1,driver_standings_pos_after_race.1,driver_points,driver_wins,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos,qualifying_time,driver_age
15702,2022,22,yas_marina,True,False,False,False,False,kevin_magnussen,Danish,...,0.0,13.0,24,0,13,36,0,8,2.010,30
15699,2022,22,yas_marina,True,False,False,False,False,gasly,French,...,0.0,14.0,23,0,14,35,0,9,2.035,26
15700,2022,22,yas_marina,True,False,False,False,False,bottas,Finnish,...,0.0,10.0,46,0,10,53,0,6,2.068,33
15698,2022,22,yas_marina,True,False,False,False,False,albon,Thai,...,0.0,19.0,4,0,19,8,0,10,2.204,26
15704,2022,22,yas_marina,True,False,False,False,False,latifi,Canadian,...,0.0,20.0,2,0,20,8,0,10,2.230,27

In [35]:
if save_new_csvs:
    final_df.to_csv('final_df.csv', index = False)