In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('display.max_columns', None)

# Importing raw data

In [6]:
circuits = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\circuits.csv',header = 0,sep = ',')
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [7]:
results = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\results.csv',header = 0,sep = ',')
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [8]:
constructor_results = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\constructor_results.csv',header = 0,sep = ',')
constructor_results.head()

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0     \N
1                     2      18              2     8.0     \N
2                     3      18              3     9.0     \N
3                     4      18              4     5.0     \N
4                     5      18              5     2.0     \N

In [9]:
constructor_standings = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\constructor_standings.csv',header = 0,sep = ',')
constructor_standings.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [10]:
constructors = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\constructors.csv',header = 0,sep = ',')
constructors.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [11]:
driver_standings = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\driver_standings.csv',header = 0,sep = ',')
driver_standings.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [12]:
drivers = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\drivers.csv',header = 0,sep = ',')
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [13]:
lap_times = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\lap_times.csv',header = 0,sep = ',')
lap_times.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [14]:
pit_stops = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\pit_stops.csv',header = 0,sep = ',')
pit_stops.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [15]:
qualifying = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\qualifying.csv',header = 0,sep = ',')
qualifying.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [16]:
races = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\races.csv',header = 0,sep = ',')
races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [17]:
results = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\results.csv',header = 0,sep = ',')
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [18]:
seasons = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\seasons.csv',header = 0,sep = ',')
seasons.head()

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2  2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3  2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4  2005  http://en.wikipedia.org/wiki/2005_Formula_One_...

In [19]:
sprint_results = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\sprint_results.csv',header = 0,sep = ',')
sprint_results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1

In [20]:
status = pd.read_csv('C:\\Users\\Matthew.Shuirman\\Desktop\\Formula 1\\Raw Data\\status.csv',header = 0,sep = ',')
status.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

# Analysis - Getting a feel for the data

## Analysis - Who was the winner of the Drivers' Championship the past 10 years?

In [40]:
# Merging the race results with the year
RaceYear = results.merge(races, on=['raceId'], how='left')
RaceSprintYear = RaceYear.merge(sprint_results, on=['raceId','driverId'], how='left')
RaceSprintYear['points'] = RaceSprintYear['points_x'] + RaceSprintYear['points_y'].fillna(0)
RaceSprintYear.head()

,resultId_x,raceId,driverId,constructorId_x,number_x,grid_x,position_x,positionText_x,positionOrder_x,points_x,laps_x,time_x,milliseconds_x,fastestLap_x,rank,fastestLapTime_x,fastestLapSpeed,statusId_x,year,round,circuitId,name,date,time_y,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,resultId_y,constructorId_y,number_y,grid_y,position_y,positionText_y,positionOrder_y,points_y,laps_y,time,milliseconds_y,fastestLap_y,fastestLapTime_y,statusId_y,points
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0

In [41]:
AnnualPoints = RaceSprintYear.groupby(['driverId','year'], as_index=False).points.sum()
AnnualPoints.head()

   driverId  year  points
0         1  2007   109.0
1         1  2008    98.0
2         1  2009    49.0
3         1  2010   240.0
4         1  2011   227.0

In [42]:
Winners = AnnualPoints.loc[AnnualPoints.groupby("year")["points"].idxmax()]
WinnersLastDecade = Winners.loc[((Winners['year'] >= 2012) & (Winners['year'] < 2022))]
Names = drivers[['driverId','surname']]
WinnersNames = WinnersLastDecade.merge(Names, on=['driverId'], how='left')
print(WinnersNames)

   driverId  year  points     surname
0        20  2012   281.0      Vettel
1        20  2013   397.0      Vettel
2         1  2014   384.0    Hamilton
3         1  2015   381.0    Hamilton
4         3  2016   385.0     Rosberg
5         1  2017   363.0    Hamilton
6         1  2018   408.0    Hamilton
7         1  2019   413.0    Hamilton
8         1  2020   347.0    Hamilton
9       830  2021   395.5  Verstappen

## Analysis - Who won the Constructors' Championship the past 10 years?

In [44]:
AnnualPointsC = RaceSprintYear.groupby(['constructorId_x','year'], as_index=False).points.sum()

In [52]:
WinnersC = AnnualPointsC.loc[AnnualPointsC.groupby("year")["points"].idxmax()]
WinnersLastDecadeC = WinnersC.loc[((WinnersC['year'] >= 2012) & (WinnersC['year'] < 2022))]
WinnersLastDecadeC2 = WinnersLastDecadeC.rename(columns={'constructorId_x':'constructorId'})
NamesC = constructors[['constructorId','name']]
WinnersNamesC = WinnersLastDecadeC2.merge(NamesC, on=['constructorId'], how='left')
print(WinnersNamesC)

   constructorId  year  points      name
0              9  2012   460.0  Red Bull
1              9  2013   596.0  Red Bull
2            131  2014   701.0  Mercedes
3            131  2015   703.0  Mercedes
4            131  2016   765.0  Mercedes
5            131  2017   668.0  Mercedes
6            131  2018   655.0  Mercedes
7            131  2019   739.0  Mercedes
8            131  2020   573.0  Mercedes
9            131  2021   613.5  Mercedes

# Sample ML Model

In [67]:
y = results.points

results_features = ['driverId','constructorId','number','grid']
X = results[results_features]
X.loc[X['number'] == '\\N','number'] = 0

C:\Users\Matthew.Shuirman\.conda\envs\python_upskilling\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [68]:
from sklearn.tree import DecisionTreeRegressor

sample_model = DecisionTreeRegressor(random_state=1)

sample_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [74]:

results2 = results
results2['prediction'] = sample_model.predict(X)
results2.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,prediction
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,5.714286
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,6.750000
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,6.000000
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,5.000000
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,2.000000

In [75]:
results2.loc[results2['raceId'] == 1061]

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,prediction
25140,25146,1061,1,131,44,2,1,1,1,25.0,52,1:58:23.284,7103284,45,2,1:29.699,236.430,1,20.204545
25141,25147,1061,844,6,16,4,2,2,2,18.0,52,+3.871,7107155,45,5,1:30.569,234.159,1,10.461538
25142,25148,1061,822,131,77,3,3,3,3,15.0,52,+11.125,7114409,45,4,1:30.524,234.275,1,13.040000
25143,25149,1061,846,1,4,5,4,4,4,12.0,52,+28.573,7131857,44,9,1:31.420,231.979,1,9.000000
25144,25150,1061,817,1,3,6,5,5,5,10.0,52,+42.624,7145908,51,8,1:31.284,232.325,1,6.800000
25145,25151,1061,832,6,55,10,6,6,6,8.0,52,+43.454,7146738,51,7,1:31.223,232.480,1,9.000000
25146,25152,1061,4,214,14,7,7,7,7,6.0,52,+1:12.093,7175377,48,10,1:31.698,231.276,1,5.500000
25147,25153,1061,840,117,18,14,8,8,8,4.0,52,+1:14.289,7177573,48,12,1:31.992,230.537,1,2.000000
25148,25154,1061,839,214,31,9,9,9,9,2.0,52,+1:16.162,7179446,48,14,1:32.210,229.992,1,4.666667
25149,25155,1061,852,213,22,16,10,10,10,1.0,52,+1:22.065,7185349,51,6,1:30.826,233.497,1,2.166667
25150,25156,1061,842,213,10,11,11,11,11,0.0,52,+1:25.327,7188611,52,3,1:30.266,234.945,1,1.600000
25151,25157,1061,847,3,63,12,12,12,12,0.0,51,\N,\N,49,13,1:32.049,230.394,11,0.000000
25152,25158,1061,841,51,99,15,13,13,13,0.0,51,\N,\N,49,15,1:32.346,229.653,11,0.000000
25153,25159,1061,849,3,6,17,14,14,14,0.0,51,\N,\N,51,16,1:32.477,229.328,11,0.000000
25154,25160,1061,8,51,7,13,15,15,15,0.0,51,\N,\N,48,11,1:31.895,230.780,11,1.500000
25155,25161,1061,815,9,11,0,16,16,16,0.0,51,\N,\N,50,1,1:28.617,239.317,11,3.500000
25156,25162,1061,853,210,9,19,17,17,17,0.0,51,\N,\N,51,18,1:32.909,228.262,11,0.000000
25157,25163,1061,854,210,47,18,18,18,18,0.0,51,\N,\N,50,17,1:32.862,228.377,11,0.000000
25158,25164,1061,20,117,5,8,\N,R,19,0.0,40,\N,\N,35,19,1:33.059,227.894,31,5.000000
25159,25165,1061,830,9,33,1,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,4,19.423077